*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: linear-gradient(to right, #1E1A2E, #5C4F6E, #B3A8C9);
    height: auto;
    padding: 20px;
}
#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-board{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vh;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    color: #1E1A2E;
    background-color: #fff;
}
#reset{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 0.5rem;
    background-color: #1E1A2E;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
}
#new{
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 0.5rem;
    background-color: #1E1A2E;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

#msg{
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold; 
}
.hide{
    display: none;
}

@media (max-width: 600px){
    #game-board{
        height: 90vw;
        width: 90vw;
    }
    .box{
        height: 26vw;
        width: 26vw;
        font-size: 10vw;
    }
}

.color{
    color: #FF5733;
} 